.ant-upload.ant-upload-select-picture-card{
    border: 0;
    padding: 0;
    height: 97px;
    width: 97px;
}
.ant-upload.ant-upload-select-picture-card > .ant-upload{
    padding: 0;
}
.ant-upload-list-picture-card-container{
    margin-bottom: 0;
}
.ant-upload-list-picture-card .ant-upload-list-item{
    border: 0;
    padding: 0;
    height: 97px;
    width: 97px;
}
